<%- include('./layout/Header') %>
<div class="showcase">
    <h1>About your Task <span class="green">Tracker</span></h1>
    <p>A simple app made with Express, Mongo Atlas, & an eJS templating engine</p>
    <p>Version 1.0</p>
    <br>
    <a href="/">Back to homepage</a>
</div>
<%- include('./layout/Footer') %>