<%- include('./layout/Header') %>
<div class="showcase">
    <h1>Welcome to your Task <span class="green">Tracker</span></h1>
    <p>Keep track of what you do<br>with a handy diary</p>
    <a href="/diary">Open your Tracker</a>
</div>
<%- include('./layout/Footer') %>
