<header>
    <div class="container">
        <a href="/" class="logo">Task <span class="green">Tracker</span></a>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/diary">Tracker</a></li>
            </ul>
        </nav>
    </div>
</header>